html {
    scroll-behavior: smooth;
}

body {
    background-color: #1d1b26;
}

.movie-background-color {
    background-color: #282531;
    margin: 8px;
}



/* --- container --- */
.conatiner-1 {
    width: 670px;
    float: right;
}

.container-2 {}

/* --- carousel --- */
.carouselmg {
    margin-top: 10px;
    max-width: 100%;

}

.container {}



/* --- film-list --- */
.film-list {
    padding: 2px;
}

.film-list2 {
    padding: 2px;
}

.film-list3 {
    padding: 2px;
}

.film-list-background {
    background-color: #282531;
    padding: 5px;
}


/* --- poster --- */
.poster {}

/* --- topmovie --- */
.top-movie {
    height: 720px;

}

.nummber1 img div {
    font-size: 5px;
}

.image {
    height: 95px;
    width: 65px;
    margin: 10px 0px 10px 0px;
    float: left;
}


.top-films-icons {
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    margin-left: 12px;
    display: flex;
}

.top-films-icons i {
    padding-left: 10px;
}

.top-films-icons1 {}


/* --- genres --- */
body.dark .widget {
    background: #1d1b26;
}

.widget .widget-body {
    padding: 0px;
}

.border-bot {
    border-bottom: #694ba1 0.9px solid;
    color: #768483;
    font-weight: 100px;

}

.border-bot p {
    float: right;
    padding-left: 15px;
    padding-top: 15px;
}

.border-bott {

    color: #768483;
    font-weight: 100px;
    text-align: center;

}

.widget .widget-title .title {
    font-size: 1.1em;
    font-family: "Nunito Sans", sans-serif;
    display: inline;
    line-height: 35px;
    color: #694ba1;
    font-weight: 600;
    text-transform: uppercase;

}

.widget-title {
    border-bottom: #694ba1 0.9px solid;
    color: #694ba1;
    font-weight: 100px;
    text-align: center;
    margin: 8px 0 8px;
}

.filter-btn {
    width: 200px;
    color: white;
    background-color: #694ba1;
    border: none;
}

a {
    color: gray;
    text-decoration: none;
    list-style: none;


}



.page-item {
    margin: 0;
    padding: 0;

}

a:hover {

    text-decoration: none;
    color
}



* {
    box-sizing: border-box;
}

/* --------- top film navbar---------- */
/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
    margin-left: 15px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: peru;
    text-align: center;
    padding: 5px 16px;
    margin-left: 12px;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid red;
}

.topnav a.active {
    border-bottom: 3px solid red;
}

/* --- headlines --- */
.headline h4 {
    border-bottom: #694ba1 0.9px;
    color: #694ba1;
    font-weight: 10px;
    text-align: start;
    margin: 8px 0 8px;
    font-size: 23px;
    display: flex;
    flex-direction: row;
}

/* --- order --- */

.order1-4 .col {
    margin-top: 5px;
}

.top-films-icons {
    margin-top: 86px;

    font-size: 11px;
    color: peru;
}

.top-films-icons a {
    color: peru;
}

.top-films-icons a:hover {
    color: #694ba1;
}

/* --- q-filter --- */
.q-filter {
    margin-top: 10px;

}

.q-filterr {}

.filter-h4 {
    border-bottom: #694ba1 0.9px solid;
    color: #694ba1;
    font-weight: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-family: "Nunito Sans", sans-serif;
    line-height: 35px;
    color: #694ba1;
    font-weight: 600;
    text-transform: uppercase;
}

/* ---  --- */

/* --- footer --- */
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.admin-h4 {
    border-bottom: #694ba1 0.9px solid;
    color: #694ba1;
    font-weight: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-family: "Nunito Sans", sans-serif;
    line-height: 35px;
    color: #694ba1;
    font-weight: 600;
    text-transform: uppercase;
}