html {
    scroll-behavior: smooth;
}

body {
    background-color: #1d1b26;
}

.movie-background-color {
    background-color: #282531;
    margin: 8px;
}



/* --- container --- */
.conatiner-1 {
    width: 670px;
    float: right;
}

.container-2 {
    width: 1000px;
}

/* --- carousel --- */
.carouselmg {
    margin-top: 10px;
    max-width: 100%;

}

.carouselcontainer {}



/* --- film-list --- */
.film-list {
    padding: 2px;
}

.film-list2 {
    padding: 2px;
}

.film-list3 {
    padding: 2px;
}

.film-list-background {
    background-color: #282531;
    padding: 5px;
}


/* --- poster --- */
.poster {}

/* --- topmovie --- */
.top-movie {
    height: 620px;

}

.nummber1 img div {
    font-size: 5px;
}

.image {
    height: 95px;
    width: 65px;
    margin: 10px 0px 10px 0px;
    float: left;
}


.top-films-icons {
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    margin-left: 12px;
    display: flex;
}

.top-films-icons i {
    padding-left: 10px;
}

.top-films-icons1 {}

/* --- headlines --- */
.headline {
    border-bottom: #694ba1 0.9px solid;
    color: #694ba1;
    font-weight: 10px;
    text-align: start;
    margin: 8px 0 8px;
    font-size: 15px;
}

/* --- genres --- */
body.dark .widget {
    background: #1d1b26;
}

.widget .widget-body {
    padding: 0px;
}

.border-bot {
    border-bottom: #694ba1 0.9px solid;
    color: #768483;
    font-weight: 100px;

    margin: 8px 0 8px;
}

.border-bot p {
    float: right;
    margin-right: 5px;
}

.border-bott {

    color: #768483;
    font-weight: 100px;
    text-align: center;
    margin: 8px 0 8px;
}

.widget .widget-title .title {
    font-size: 1.1em;
    font-family: "Nunito Sans", sans-serif;
    display: inline;
    line-height: 35px;
    color: #694ba1;
    font-weight: 600;
    text-transform: uppercase;

}

.widget-title {
    border-bottom: #694ba1 0.9px solid;
    color: #694ba1;
    font-weight: 100px;
    text-align: center;
    margin: 8px 0 8px;
}

a {
    color: #694ba1;
    text-decoration: none;
    list-style: none;
    margin: 5px;

}


.page-item {
    margin: 0;
    padding: 0;
    0
}

a:hover {

    text-decoration: none;
    color
}

* {
    box-sizing: border-box;
}